# Visual Studio Code files
.vscode/

# NuGet Packages
*.nupkg
*.snupkg
*.nuspec
packages/

# Azure Web App Publish folder
publish/

# Visual Studio settings
.vs/

# Rider settings
.idea/

# Environment Variables
.env
*.local

# Other files
*.log
*.tlog
*.dbmdl
*.dbproj.schemaview
*.dbproj

# Backup files
*.bak
*.tmp
*.temp
